#head1 {
    font-size: 600%;
    width: 100%;
    position: absolute;
    left: -1%;
    top: 30%;
}

#åratal {
    top: 48%;
    position: absolute;
    right: 48%;
    font-size: 110%;
}
body {
    background: black;
    text-align:center;
    font-size:larger;
    margin: 30%;
    color: beige;
}
#p1 {
    color: beige;
    font-size: 120%;
    text-align: left;
    letter-spacing: 20%;
    margin: 3%;
    line-height: 1.6;
    top: 80%;
    position: absolute;
    
}
#p2 {
    color: beige;
    font-size: 120%;
    top: 115%;
    position: absolute;
   text-align: left;
    right: 3%;
    margin: 3%;
    width: 61%;
    line-height: 1.6;
}
#p3 {
    color: beige;
    font-size: 120%;
    top: 160%;
    position: absolute;
    text-align: left;
    line-height: 1.6;
    width: 65%;
    left: 33%;
}

#p4 { 
    top: 195%;
    position: absolute;
    text-align: left;
    left: 33%;
    font-size: 120%;
    line-height: 1.6;
    width: 65%;
}
#p5 {
    top: 225%;
    position: absolute;
    text-align: left;
    left: 33%;
    font-size: 120%;
    line-height: 1.6;
    width: 65%;
}
#p6 {
    top: 255%;
    position: absolute;
    text-align: left;
    left: 33%;
    font-size: 120%;
    line-height: 1.6;
    width: 65%;

}
#p7 {
    top: 285%;
      position: absolute;
    text-align: left;
    left: 33%;
    font-size: 120%;
    line-height: 1.6;
    width: 65%;
    
}
#p8 {
    top: 315%;
    position: absolute;
    text-align: left;
    left: 33%;
    font-size: 120%;
    line-height: 1.6;
    width: 65%;
}
#bild3{
    scale: 69%;
    right: 66%;
    position: absolute;
    top: 155%;
}
#bild3text {
    right: 73%;
    position: absolute;
    top: 193%;
    text-align: center;
    width: 23%;
     border: dotted;
    border-width: 1px;
}
#bild4 {
    scale: 85%;
    right: 70%;
    position: absolute;
    top: 218%;
   
    
}
#bild4text {
    right: 75%;
    position: absolute;
    top: 250%;
     border: dotted;
    border-width: 1px;
    width: 20%;
}
#bild5 {
    right: 75%;
    position: absolute;
    top: 280%;
    scale: 125%;

}
#bild5text {
    right: 74%;
    position: absolute;
    top:   304%;
    text-align: center;
     border: dotted;
    border-width: 1px;
    width: 22%;
}

#titel1 {
    font-size: 130%;
    font-weight: 800;
}
#titel {
    font-size: 130%;
    font-weight: 800;
}
#titel3 {
    font-size: 130%;
    font-weight: 800;
}
#titel2 {
     font-size: 130%;
    font-weight: 800;
}
#titel4 {
     font-size: 130%;
    font-weight: 800;   
}
#titel5 {
    font-size: 130%;
    font-weight: 800;   
}
#titel6 {
    font-size: 130%;
    font-weight: 800;   
}

#bild1 {
    border: 8px beige solid;
    position: absolute;
    right:21%;
    scale: 30%;
    top: 205%;
}
#bild1text
{
    position: absolute;
    width: 10%;
    font-size: 50%;
    right: 16%;
    top: 219%;
    border:1px dotted beige;
}
#bild2 {
     border: 1px beige dotted;
    position: absolute;
    right: 62%;
    scale: 55%;
    top: 80%;
    margin-right:;

}
#bild2text {
    
}
