body {
    background: black;
    text-align:center;
    font-size:larger;
    margin: 30%;
    color: beige;
}
#p1 {
    color: beige;
    font-size: 100%;
    text-align: left;
    position: absolute;
    left: 4%;
    width: 20%;
    nav-down: current;
    bottom: -55px;
}
#p2 {
    color: beige;
    font-size: 100%;
    text-align: left;
    position: absolute;
    left:25%;
    width: 17%;

}
#p3{
    color: beige;
    font-size: 100%;
    text-align: right;
    position: absolute;
    right:25%;
    width: 18%;
}
#p4{
      color: beige;
    font-size: 100%;
    text-align: right;
    position: absolute;
    right:4%;
    width: 18%;
    

}
h1{
    position:static;
    text-align: center;
    bottom: 30%;
    
}


#div1{
    text-align: right;
    color: beige;
    font-size: 220%;
    position:absolute;
left: 10%;
bottom: 30%;
}
#div2{
    text-align: left;
    color: beige;
    font-size: 220%;
    position:absolute;
right: 10%;
bottom: 30%;
}
#div3{
    font-size: 220%;
text-align: left;
color: beige;
left: 30%;
bottom: 30%;
position: absolute;
}
#div4{font-size: 220%;
text-align: right;
color: beige;
right: 30%;
bottom: 30%;
position: absolute;}

#sf{
 text-align: center;
 color: beige;
 right: 43%;
 position: absolute;
 width: 15%;
}
#buttons{
    background-color: burlywood;
    position: fixed;
    right: 1%;
    bottom: 95%;
    column-width: 5%;
}
#bild1 {
    border: 10px beige solid;
    position: absolute;
    right:34%;
    scale: 22%;
    bottom: 12%;
}
#bild2 {
     border: 25px beige solid;
    position: absolute;
    left:18%;
    scale: 10%;
    bottom: -20px;
}
